/* 
  font
*/
@font-face {
  font-family: "KBFGTEXT";
  src: local("KBFGTEXT"), url("../font/KBFGTextL.woff") format("woff"),
    url("../font/KBFGTextL.woff2") format("woff2"),
    url("../font/KBFGTextL.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KBFGTEXT";
  src: local("KBFGTEXT"), url("../font/KBFGTextM.woff") format("woff"),
    url("../font/KBFGTextM.woff2") format("woff2"),
    url("../font/KBFGTextM.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "KBFGTEXT";
  src: local("KBFGTEXT"), url("../font/KBFGTextB.woff") format("woff"),
    url("../font/KBFGTextB.woff2") format("woff2"),
    url("../font/KBFGTextB.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "KBFGDISPLAY";
  src: local("KBFGDISPLAY"), url("../font/KBFGDisplayL.woff") format("woff"),
    url("../font/KBFGDisplayL.woff2") format("woff2"),
    url("../font/KBFGDisplayL.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KBFGDISPLAY";
  src: local("KBFGDISPLAY"), url("../font/KBFGDisplayM.woff") format("woff"),
    url("../font/KBFGDisplayM.woff2") format("woff2"),
    url("../font/KBFGDisplayM.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "KBFGDISPLAY";
  src: local("KBFGDISPLAY"), url("../font/KBFGDisplayB.woff") format("woff"),
    url("../font/KBFGDisplayB.woff2") format("woff2"),
    url("../font/KBFGDisplayB.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "KBFGTEXT", "KBFGDISPLAY", sans-serif;
  color: #484b51;
  height: 100%;
  overflow: hidden;
}
*:not(body) {
  font-family: inherit;
}
button {
  border: 0;
  background-color: transparent;
}
ul,
ol,
li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
button {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
}

/* 
  .top
 */
.top {
  position: sticky;
  top: 0;
  padding: 8px 24px 16px 24px;
  background: #f1f3f5;
  z-index: 10;
}
.top.active {
  padding-bottom: 0;
}
.top .function {
  margin: 0 0 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}
.top .function .right {
  display: flex;
  align-items: center;
}

.top .function .exit {
  padding: 0 12px;
  height: 28px;
  background: linear-gradient(0deg, #dde1e4, #dde1e4), #f7f7f8;
  border-radius: 22px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #26282c;
}
.top .function .lan {
  margin: 0 16px 0 0;
  display: flex;
  align-items: center;
  height: 32px;
  font-weight: 500;
  line-height: 18px;
  font-size: 13px;
  letter-spacing: -0.01em;
  color: #484b51;
}
.top .function .lan::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../image/ic_language_16_bk.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  margin: 0 4px 0 0;
}
.top .function .close {
  width: 24px;
  height: 24px;
  background-image: url(../image/icon_close_24.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top .log {
  margin: 0 0 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top .log .left span:first-of-type {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #696e76;
}
.top .log .left span:last-of-type {
  margin: 0 0 0 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #696e76;
}

.top .div-link {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.top .div-link li {
  position: relative;
  width: 33.33%;
  text-align: center;
  box-sizing: border-box;
  margin: 0 4px;
}
.top .div-link li:first-of-type {
  margin-left: 0;
}
.top .div-link li:last-of-type {
  margin-right: 0;
}

.top .div-link button {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #26282c;
  width: 100%;
  height: 44px;
  border-radius: 8px;
  background-color: #fbfbfc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top .div-link button::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 6px 0 0;
  background-size: 16px;
  background-position: left center;
  background-repeat: no-repeat;
}
.top .div-link .custom::before {
  background-image: url(../image/ic_cs_16_bk.png);
}
.top .div-link .auth::before {
  background-image: url(../image/ic_security_16_bk.png);
}
.top .div-link .setting::before {
  background-image: url(../image/ic_setting_24_bk.png);
}
.top .serch-bar {
  display: flex;
  align-items: center;
  margin: 0 0 16px 0;
  padding: 0 0 0 0;
  height: 40px;
  border-bottom: 2px solid #26282c;
  box-sizing: border-box;
}
.top .serch-bar input[type="text"] {
  flex: 1 1 auto;
  border: 0;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-weight: 700;
  background: transparent;
}
::placeholder {
  color: #8c949e;
}
.top .serch-bar .submit {
  flex: none;
  width: 24px;
  height: 24px;
  background-image: url(../image/icon_search_24.png);
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
}

/* .layout-wrap */
.layout-wrap {
  position: relative;
  display: flex;
  z-index: 1;
  flex: 1 auto;
  height: calc(100vh - 208px);
  overflow: hidden;
}
.layout-wrap::before {
  content: "";
  display: block;
  width: 134px;
  height: calc(100vh - 208px);
  background: #eaedef;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.sticky2 {
  flex: none;
  width: 134px;
  position: sticky;
  top: 0;
  align-self: flex-start;
  max-height: calc(100vh - 208px);
  height: calc(100vh - 208px);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #eaedef;
}
.sticky2 button {
  display: block;
  width: 100%;
  padding: 12px 0 12px 20px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #696e76;
  text-align: left;
  font-weight: 300;
  box-sizing: border-box;
  /* background-color: #eaedef; */
}
.sticky2 button.active {
  background-color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #26282c;
}
.sticky2 button.active span {
  position: relative;
}
.sticky2 button span {
  position: relative;
}
.sticky2 button span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8px;
  width: 100%;
  background: #dde1e4;
  mix-blend-mode: darken;
}
.sticky2 button.active span::after {
  background: #ffca16;
  mix-blend-mode: darken;
  opacity: 0.4;
}
.menu-list::after {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
}

.content {
  flex: 1 1 auto;
  padding: 0 0 0 0;
  width: calc(100vw - 134px);
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.content::after {
  content: "";
  display: block;
  width: 100%;
  height: calc(60vh - 158px);
}
.content .parent {
  position: relative;
}
.content .parent hr {
  position: absolute;
  left: 0;
  top: -2px;
  width: 100%;
  height: 1px;
  background: transparent;
  border: 0;
}
.content h2 {
  position: sticky;
  top: -1px;
  display: flex;
  align-items: center;
  padding: 12px 0 12px 20px;
  height: 48px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #8c949e;
  z-index: 10;
  background: #fff;
  font-weight: 500;
  border-bottom: 1px solid #dde1e4;
}
.content h2::after {
  content: "";
  width: 20px;
  height: 1px;
  position: absolute;
  background: #fff;
  left: 0;
  bottom: -1px;
}
.content .parent:first-of-type h2,
.content .parent:nth-child(2) h2 {
  position: relative;
  top: 0;
  box-shadow: none !important;
  font-weight: 500;
  color: #8c949e;
}

.content .parent:first-of-type h2::after,
.content .parent:nth-child(2) h2::after {
  display: block !important;
  box-shadow: none !important;
}

.parent.active h2 {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
  font-weight: 700;
  color: #26282c;
  border-bottom: 1px solid #ebeef0;
}
.parent.active h2::after {
  display: none;
  /* width: 100%;
  height: 60px;
  z-index: -1;
  bottom: 1px; */
}

.parent.stop.active h2 {
  box-shadow: none;
  font-weight: 500;
  color: #8c949e;
}
.parent.stop.active h2::after {
  display: block;
}

.content h2 button {
  position: absolute;
  right: 24px;
  top: 14px;
  padding: 0 12px;
  height: 26px;
  background: #ebeef0;
  border-radius: 13px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.01em;
  color: #696e76;
}
.content h2::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ebeef0;
  border-radius: 10px;
  margin: 0 8px 0 0;
}
.content ol {
  padding: 20px 0 32px;
}
.content ol > li + li {
  margin-top: 8px;
}
.content ol > li {
  /* height: 40px; */
}
.content ol > li.mark {
  display: flex;
  align-items: center;
}

.content .bookmark {
  margin: 0 8px 0 20px;
  width: 20px;
  height: 20px;
  background-image: url(../image/icon_star_inactive_20.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  flex-shrink: 0;
}
.content .bookmark.empty {
  background-image: none;
}
.content .bookmark.active {
  background-image: url(../image/icon_star_active_20.png);
}

.content .bookmark + .type1 {
  padding-left: 0;
}
.content .type1 {
  width: 100%;
  padding: 8px 52px 8px 20px;
  line-height: 24px;
  min-height: 40px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #696e76;
  text-align: left;
}
.content .type1 span,
.content .type1 em {
  font-style: normal;
  word-break: keep-all;
  word-wrap: break-word;
}
.parent.exception li.add {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.parent.exception li.none {
  transition: max-height 0.2s ease-in-out, opacity 0.4s ease-in-out;
}
.content .type2 {
  padding: 8px 24px 8px 20px;
  display: flex;
  align-items: top;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  min-height: 40px;
  letter-spacing: -0.02em;
  color: #696e76;
  background-position: right 24px center;
  text-align: left;
}
.content .type2::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../image/ic_arrow_down_20_bk.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 8px;
  flex-shrink: 0;
  transition: all 0.25s ease-in-out;
}
.content .type2.active {
  color: #26282c;
  font-weight: 700;
  transition: all 0.25s ease-in-out;
}
.content .type2 span,
.content .type2 em {
  font-style: normal;
}
.content .type2 span {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  word-break: keep-all;
  line-height: 24px;
}

.content .type2.active::after {
  transform: rotate(-180deg);
  transition: all 0.25s ease-in-out;
}

.content .type2.active + .deep {
  margin: 8px 0 0 0;
  transition: all 0.25s ease-in-out;
}

.deep {
  max-height: 0;
  margin: 0;
  overflow: hidden;
  background-color: #f7f7f8;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}
.deep .deep-inner {
  padding: 10px 24px 10px 20px;
}
.deep .deep-inner button {
  display: block;
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.02em;
  padding: 10px 0;
  min-height: 42px;
  color: #484b51;
}
.deep .deep-inner button + button {
  margin-top: 2px;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(100%);
  /* transform: translateX(0); */
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 1000;
  transition: 0.3s;
}

.popup .search-wrap {
  position: relative;
  margin: 0 24px 20px 24px;
  height: 54px;
  border-bottom: 2px solid #26282c;
}
.popup .search-wrap input[type="text"] {
  position: absolute;
  left: 0;
  top: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #26282c;
  border: 0;
  background: transparent;
  width: calc(100% - 80px);
}
.popup .search-wrap input[type="text"]::placeholder {
  color: #8c949e;
}
.popup .search-wrap .del {
  display: none;
  position: absolute;
  right: 42px;
  top: 23px;
  width: 24px;
  height: 24px;
  background-image: url(../image/icon_delete_24.png);
  background-size: 24px;
}
.popup .search-wrap .close {
  position: absolute;
  right: 0px;
  top: 26px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #696e7e;
}
.popup .empty {
  display: none;
  padding: 80px 0 0 0;
  text-align: center;
}
.popup .empty i {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #dde1e4;
  border-radius: 30px;
  background-image: url(../image/icon_search.png);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
}
.popup .empty p {
  padding: 16px 0 0 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #26282c;
}
.popup .data {
  display: none;
  background-color: transparent;
}
.popup .data .ect-search {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.09s ease-in-out;
}
.popup .data .ect-search p {
  color: #484b51;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02em;
}
.popup .data .ect-search button {
  width: 100px;
  height: 21px;
}
.popup .data .ect-search img {
  width: 100%;
}

/*  */
.data-wrap {
  height: calc(100vh - 121px);
  overflow-y: auto;
}
.data-wrap::after {
  content: "";
  display: block;
  width: 100%;
  height: calc(60vh - 220px);
}
.search-li {
  position: relative;
}
.search-li hr {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: transparent;
  border: 0;
}
.search-li h2 {
  position: sticky;
  top: -1px;
  display: flex;
  padding: 13px 0 13px 24px;
  height: 48px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #8c949e;
  z-index: 10;
  background: #fff;
  font-weight: 500;
  border-bottom: 1px solid #dde1e4;
}
.search-li h2::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ebeef0;
  border-radius: 10px;
  margin: 0 8px 0 0;
}
.search-li h2::after {
  content: "";
  width: 20px;
  height: 1px;
  position: absolute;
  background: #fff;
  left: 0;
  bottom: -1px;
}
.search-li.active h2 {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
  font-weight: 700;
  color: #26282c;
  border-bottom: 1px solid #ebeef0;
}
.search-li.active h2::after {
  display: none;
}
.search-li.stop.active h2 {
  box-shadow: none;
  font-weight: 500;
  color: #8c949e;
}
.search-li.stop.active h2::after {
  display: block;
}
.search-li ol {
  padding: 20px 24px 32px 24px;
}
.search-li ol li {
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  color: #26282c;
  word-break: keep-all;
}
.search-li ol li span {
  display: inline-block;
}
.search-li ol li .blue {
  font-size: 16px;
  position: unset;
  line-height: 23px;
  font-weight: 700;
  color: #287eff;
}
.search-li ol li:last-child {
  margin-bottom: 0;
}
.search-li li .right-arrow {
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
  background-size: cover;
  background-image: url("../image/ic_arrow_right_20_bk.png");
}

.content h2 button {
  position: absolute;
  right: 24px;
  top: 12px;
  padding: 0 12px;
  height: 26px;
  background: #ebeef0;
  border-radius: 13px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.01em;
  color: #696e76;
}
.content h2::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ebeef0;
  border-radius: 10px;
  margin: 0 8px 0 0;
}
